<!DOCTYPE html>

<html> 
<head> 
    <title> Bem Barato.com - Anúncios</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
             <h4>Anúncios</h4>
        </div>
  
        <form action="novoanuncio" method="post">
            <div class="form-group">
                <label for="nome_produto">Nome do Produto</label>
                <input type="text"  class="form-control" id="nome_produto" name="nome_produto">
            </div>

            <div class="form-group">
                <label for="descricao_produto">Descrição do Produto</label>
                <textarea rows="4" cols="50"  class="form-control" id="descricao_produto" name="descricao_produto"></textarea>
            </div>

            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input type="text" class="form-control" id="quantidade" name="quantidade"></textarea>
            </div>

            <div class="form-group">
                <label for="valor_produto">Valor</label>
                <input type="text"  class="form-control" id="valor_produto" name="valor_produto">
            </div>

            <div class="form-group">
                <label for="cat">Categoria</label>
                    <select  class="form-control" id="cat" name="cat">
                        {% for categoria in categorias %} 
                            <option value="{{ categoria.id_categoria }}">{{ categoria.nome_categoria }}</option>
                        {% endfor %}
                    </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Criar</button>
            </div>
         </form>
    </div>

    <div class="container">
        <div class="page-header">
           <h4>Lista de {{titulo}}</h4>
       </div> 

       <table class="table table-striped table-responsive table-bordered">
            <thead class="thread-default">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                    <th>Categoria</th>
            
                </tr>
            </thead>
        
            <tbody>
                {% for anuncio in anuncios %}
                    <tr>
                        <td>{{anuncio.nome_produto}}</td>
                        <td>{{anuncio.descricao_produto }}</td>
                        <td>{{anuncio.valor_produto }}</td>
                        <td>{{anuncio.quantidade }}</td>
                        <td>{{anuncio.id_categoria}}</td>
                        <td><a href={{ url_for("editaranuncio",id_anuncio=anuncio.id_anuncio) }}>Editar?</a></td>
                        <td><a href={{ url_for("deletaranuncio",id_anuncio=anuncio.id_anuncio) }}>Deletar?</a></td>
                    
                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</body>

</html>