<!DOCTYPE html>

<html> 
<head> 
    <title> Bem Barato.com </title>
</head>

<body>
    <h4> Bem vindos ao Bem Barato.com </h4>
    <p><a href="{{ url_for('cadastro') }}" class="link">Cadastro</a></p>
    <p><a href="{{ url_for('categoria') }}">Categoria</a></p>
    <p><a href="{{ url_for('anuncio') }}">Anúncio</a></p>
    <p><a href="{{ url_for('perguntas') }}">Perguntas</a></p>
    <p><a href="{{ url_for('relcompras') }}">Relatórios de Compras</a></p>
    <p><a href="{{ url_for('relvendas') }}">Relatórios de Vendas</a></p>
</body>
</html>